
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <textarea name="text" placeholder="Text"></textarea>
    <input type="file" name="upload" />
    <br>
    <input type="submit" value="Загрузить" />
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/script.js"></script>
